
body, h1, h2, h4, p, ul {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.logo{
  font-family: 'Times New Roman', Times, serif;
}
body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
    align-items: center;  
  overflow: hidden;  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6c63ff;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}
.navbar ul li a:hover {
  color: #6c63ff;
}
.nav-right a {
  color: #6c63ff;
  text-decoration: none;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url("https://wallpaperaccess.com/full/2465431.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
.hero-content {
  max-width: 700px;
}
.hero h4 {
  font-size: 1.4rem;
  color: #6c63ff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 15px 0;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  line-height: 1.6;
}
.cta-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  background: #6c63ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-style:italic;
}
.cta-btn:hover {
  background: #4b47d6;
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .navbar .logo {
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .cta-btn {
    font-size: 0.95rem;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  .hero h4 {
    font-size: 1.1rem;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.95rem;
    line-height: 1.4;
  }

  .cta-btn {
    width: 100%;
    font-size: 1rem;
  }
}